*{
    margin: 0;
    padding: 0;
    font-family: "dealerplate";
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

@font-face{
    font-family: "dealerplate";
    src: url(../multimedia/dealerplate\ california.ttf);
}

.fas{
    font-size: 2rem;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* WRAPPER */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
#wrapper{
    height: 90vh;
    overflow: hidden;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* MENU */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#navegador__opciones{
    position: absolute;
    top: 1.3rem;
    left: 1.5rem;
    padding: 1rem;
    border: .3rem solid;
    z-index: 10;
}

#navegador__opciones:hover ~ #navegador__menu{
    display: block;
}

#navegador__menu{
    position: absolute;
    width: 20%;
    bottom: 0;
    top: 0;
    z-index: 5;
    display: bolck;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    font-weight: bold;
    letter-spacing: .15rem;
    display: none;
}

#navegador__menu:hover{
    display: block;
}


#navegador__menu div{
    margin: 8rem 1.6rem;
    font-size: 2rem;
}
#navegador__menu li{
    margin-top: 1rem;
}

/* efecto subrayado basado en: https://www.esthersola.com/subrayado-animado-de-enlaces-con-css/#*/
#navegador__menu li a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#navegador__menu li a:hover{
    background-size: 100% 2px;
}

/*hombre | mujer*/
#navegador__menu li:first-child{
    display: flex;
}
#navegador__menu li:first-child p{
    margin-right: .5rem;
}
/*rebajas*/
#navegador__menu li:nth-child(3) a{
    color: rgb(255, 0, 0);
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* CONTENIDO */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
#contenido{
    height: 100vh;
    overflow: hidden;
}

/*titulo*/
#contenido__titulo{
    position: absolute;
    left: 50%;
    margin-left: -11.5rem;
    z-index: 1;
}
#titulo__texto{
    font-size: 6rem;
    font-weight: bold;
}

/*nombres*/
#contenido__nombres{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.nombres__nombre{
    font-size: 5rem;
    letter-spacing: 1.5rem;
    width: 50%;
    transform: rotate(90deg);
}


/*fotos*/
#contenido__fotos{
    display: flex;
    z-index: 30;
    height: 100%;
    height: 100vh;
    overflow: hidden;
}
.contenido__generos{
    width: 100%;
}
.contenido__foto{
    width: 100%;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* FOOTER */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#pie{
    display: grid;
    grid-template-columns: 97% max-content;
    position: absolute;
    bottom: 0;
    right: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: .5rem;
}
#pie__texto{
    text-align: center;
}
#pie__enlace{
    text-decoration: underline;
}
#pie:target{
    display: none;
}

@media(max-width: 1220px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #navegador__menu{
        width: 30%;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    /*fotos*/
    #contenido__fotos{
        display: flex;
        z-index: 30;
    }
    .contenido__foto{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width: 890px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #navegador__opciones{
        padding: .5rem;
        top: .5rem;
        transform: scale(80%);
    }
    #navegador__menu div{
        font-size: 1.8rem;
        font-weight: normal;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    
    
    /*titulo*/
    
    #contenido__titulo{
        margin-left: -7.5rem;
    }
    #titulo__texto{
        font-size: 4rem;
    }
}


@media(max-width: 700px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #navegador__menu div{
        font-size: 1.4rem;
    }
    #navegador__opciones{
        top: .5rem;
    }


    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    .nombres__nombre{
        font-size: 3.5rem;
    }
}
@media(max-width: 600px){
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #navegador__opciones{
        transform: scale(70%);
        top: .5rem;
    }

    #navegador__menu div{
        font-size: 1rem;
    }

}

@media(max-width: 520px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #navegador__opciones{
        top: .2rem;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    .nombres__nombre{
        font-size: 3rem;
    }
    
    /*titulo*/
    
    #contenido__titulo{
        margin-left: -7rem;
    }
    #titulo__texto{
        font-size: 3.5rem;
    }
}

@media(max-width: 490px){
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #navegador__opciones{
        transform: scale(60%);
        top: 0;
        left: .5rem;
    }
    #navegador__menu{
        width: 40%;
    }

     /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    .nombres__nombre{
        font-size: 2.5rem;
    }
    
    /*titulo*/
    
    #contenido__titulo{
        margin-left: -5.8rem;
    }
    #titulo__texto{
        font-size: 3rem;
    }

}

@media(max-width: 380px){
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #navegador__opciones{
        transform: scale(60%);
        top: 0;
        left: .5rem;
    }
    #navegador__menu{
        width: 50%;
    }

     /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    .nombres__nombre{
        font-size: 2rem;
    }
    
    /*titulo*/
    
    #contenido__titulo{
        top: .6rem;
        margin-left: -3.9rem;
    }
    #titulo__texto{
        font-size: 2rem;
    }
}
