*{
    margin: 0;
    padding: 0;
    font-family: "dealerplate";
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

@font-face{
    font-family: "dealerplate";
    src: url(../multimedia/dealerplate\ california.ttf);
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* WRAPPER */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* ANUNCIO */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
#anuncio{
    background-color: red;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: .5rem;
}
#anuncio__texto{
    display: inline;
    letter-spacing: .05rem;
}
#anuncio__close{
    float: right;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
}
#anuncio:target{
    display: none;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* SUPERIOR */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#superior{
    display: flex;
    box-shadow: 5px 0 5px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: .5rem;
    position: sticky;
    top: 0;
    z-index: 20;
}
#cabezera__titulo a{
    color: black;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* MENU */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
#superior__navegador{
    width: 20%;
}

#navegador__opciones{
    margin-left: 2rem;
    padding: 1rem;
    z-index: 10;
    color: black;
}

#navegador__opciones:hover ~ #navegador__menu{
    display: block;
}

#navegador__menu{
    position: absolute;
    width: 20%;
    height: 100vh;
    bottom: 0;
    top: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    font-weight: bold;
    letter-spacing: .15rem;
    display: none;
}

#navegador__menu:hover{
    display: block;
}


#navegador__menu div{
    margin: 10rem 1.6rem;
    font-size: 2rem;
}
#navegador__menu li{
    margin-top: 1rem;
}

/* efecto subrayado basado en: https://www.esthersola.com/subrayado-animado-de-enlaces-con-css/#*/
#navegador__menu li a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#navegador__menu li a:hover{
    background-size: 100% 2px;
}

/*hombre | mujer*/
#navegador__menu li:first-child{
    display: flex;
}
#navegador__menu li:first-child p{
    margin-right: .5rem;
}
/*rebajas*/
#navegador__menu li:nth-child(3) a{
    color: rgb(255, 0, 0);
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* CABEZERA */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
#superior__cabezera{
    font-size: 4rem;
    font-weight: bold;
}



/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* BUSCADOR */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
#superior__derecha{
    width: 20%;
    text-align: center;
    display: flex;
}
#superior__derecha > div{
    margin-right: 1rem;
}
#superior__derecha > div > a{
    color: rgb(0, 0, 0);
}


/*buscador*/
#derecha__buscador{
    border-bottom: 3px solid ;
}
#buscador__input{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: .2rem;
    border: 0;
    text-transform: capitalize;
}
#buscador__input:focus{
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

/*Sesion*/
#sesion__inicio{
    position: absolute;
    background-color: white;
    right: 1rem;
    top: 2rem;
    width: 20%;
    display: none;
}
#sesion__inicio:target{
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.sesion__fondo{
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    display: none;
}
#sesion__inicio:target ~ .sesion__fondo{
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}






#inicio__cabezera{
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 2rem;
    margin: 1rem;
    letter-spacing: .1rem;    
}
#inicio__cabezera p, #inicio__cabezera i{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}
#inicio__cabezera i{
    color: rgb(255, 0, 0);
}

#inicio__mail{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
#inicio__mail>input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    border: none;
    border-bottom: .1rem solid rgb(173, 173, 173);
    background-color: rgb(247, 247, 247);
}
#inicio__mail>input:first-child{
    margin-bottom: 2rem;
}
#inicio__mail>input:focus{
    outline: none;
    border-bottom: .1rem solid rgb(116, 116, 116);
}

#inicio__recuperar a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: rgb(0, 0, 0);
    border-bottom: .1rem solid;
    float: right;
    margin: 0 2rem 2rem 0;
}

#inicio__mantener{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    margin-bottom: 1rem;
}
#inicio__mantener p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

#inicio__acceder p{
    border: .1rem solid;
    margin: 2rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem; 
}
#inicio__acceder p a{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: .1rem solid;
}
#inicio__acceder p:first-child{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#inicio__acceder p:nth-child(2):hover{
    transition: background-color .7s;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#inicio__acceder p:nth-child(3){
    border: none;
    background-color: rgb(238, 238, 238);
}
#inicio__acceder p:nth-child(4){
    background-color: rgb(59, 89, 152);
    color: rgb(255, 255, 255);
}















/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* CONTENIDO */
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#contenido{
    margin: 3rem 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 18rem));
    /*grid-template-columns: max-content max-content max-content max-content;*/
    gap: 2rem;
    justify-content: center;
}

.contenido__articulo{
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* he copiado estas sombras de https://www.hostinger.es/*/
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
}

.articulo__foto:hover .foto{
    transform: scale(1.2);
    transition: transform .2s;
}


.articulo__foto{
    width: 25.5rem;
    height: 40rem;
    overflow: hidden;
    z-index: 0;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articulo__descuento{
    padding: .2rem 1rem;
    background-color: red;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 1rem;
}
.articulo__descripcion{
    text-align: center;
    font-family: Arial;
    margin-bottom: .5rem;
    color: rgb(0, 0, 0);
    z-index: 3;
}
.articulo__precio{
    z-index: 3;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: red;
    margin-bottom: .5rem;
}
.articulo__precio p:nth-child(2){
    color: black;
    text-decoration: line-through;
    margin-left: 1rem;
}




    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /*           */
    /*   MEDIA   */
    /*   QUERIS  */
    /*           */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/


@media(max-width: 1665px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 15rem));
    }

}


@media(max-width: 1500px){
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #superior__navegador{
        width: 25%;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* BUSCADOR */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #superior__derecha{
        width: 25%;
    }

    #sesion__inicio{
        width: 30%;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 12rem));
    }
    .articulo__foto{
        width: 20rem;
        height: 34.5rem;
    }
    .foto{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width: 1300px){
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 9rem));
        margin: 5rem 15rem;
    }
    .articulo__foto{
        width: 15rem;
        height: 29.5rem;
    }
}

@media(max-width: 1130px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* BUSCADOR */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #buscador__input{
        width: 7rem;
    }
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CABEZERA */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #cabezera__titulo{
        font-size: 3rem;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    
    #superior__navegador{
        width: 30%;
        font-size: 1.5rem;
    }

    #navegador__menu{
        width: 25%;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* BUSCADOR */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    

}


@media(max-width: 980px){
    
    /* cambiamos el buscador de sitio*/
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* BUSCADOR */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #superior__derecha{
        justify-content: flex-end;
        font-size: .8rem;
        margin-right: 2rem;
        width: 10%;
    }
    #derecha__buscador{
        border: none;
        background-color: rgb(238, 238, 238);
        position: absolute;
        left: 0;
        right: -1rem;
        top: 5rem;
        display: flex;
        align-items: center;
    }
    #derecha__buscador>i{
        margin: 0 .4rem 0 3.35rem;
    }
    #buscador__input{
        padding: .3rem;
        width: 80%;
        border-bottom: .2rem solid;
        background-color: rgb(238, 238, 238);
        margin-right: 3rem;
    }

    #derecha__sesion>a>i, #derecha__shop>a>i{
        font-size: 1rem;
    }


    #sesion__inicio{
        width: 40%;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CABEZERA */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #cabezera__titulo{
        font-size: 3rem;
    }

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    
    #superior__navegador{
        width: 10%;
        font-size: 1.5rem;
    }
    #navegador__menu div{
        font-size: 1.8rem;
    }




    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 9rem));
        margin: 5rem 10rem;
    }
    .articulo__foto{
        width: 13rem;
        height: 24.5rem;
    }

}

@media(max-width: 820px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    
    #navegador__menu{
        width: 30%;
    }
    #navegador__menu div{
        font-size: 1.6rem;
    }



    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 7rem));
        margin: 5rem 7rem;
    }
    .articulo__foto{
        width: 10rem;
        height: 21.5rem;
    }

    .articulo__descuento{
        font-size: .8rem;
        bottom: 2rem;
        padding: .2rem .7rem;
    }

    .articulo__descripcion{
        font-size: .8rem;
    }
}

@media(max-width: 670px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* ANUNCIO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #anuncio{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #anuncio__texto{
        font-size: .8rem;
    }

    #anuncio__close{
        margin-left: .6rem;
    }


    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    
    #navegador__menu{
        width: 40%;
    }
    #navegador__menu div{
        font-size: 1.5rem;
        font-weight: normal;
    }

    #sesion__inicio{
        right: 0;
        left: 0;
        width: 100%;
        top: 0;
    }



    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 6rem));
        margin: 5rem 7rem;
    }
    .articulo__foto{
        width: 9em;
        height: 15.5rem;
    }
    .foto{
        width: 100%;
        height:  100%;
        object-fit: cover;
    }

    .articulo__descuento{
        font-size: .8rem;
        bottom: 2rem;
        padding: .2rem .7rem;
    }

    .articulo__descripcion{
        font-size: .6rem;
    }
}

@media(max-width: 450px){

    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CABEZERA */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #cabezera__titulo{
        font-size: 2.3rem;
    }


    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* MENU */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    
    #navegador__menu{
        width: 48%;
    }
    #navegador__menu div{
        font-size: 1.3rem;
        font-weight: normal;
    }


    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* BUSCADOR */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    #navegador__opciones{
        font-size: 1rem;
    }
    
    #derecha__sesion>a>i, #derecha__shop>a>i{
        font-size: .8rem;
    }

    #derecha__buscador{
        top: 4.2rem;
    }




    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /* CONTENIDO */
    /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 7rem));
        margin: 5rem 4rem;
        gap: 1rem;
    }
    .articulo__foto{
        width: 10rem;
        height: 16.5rem;
    }
    .foto{
        width: 100%;
        height:  100%;
        object-fit: cover;
    }

    .articulo__descuento{
        font-size: .8rem;
        bottom: 2rem;
        padding: .2rem .7rem;
    }

    .articulo__descripcion{
        font-size: .5rem;
    }
    .articulo__precio{
        font-size: .7rem;
    }

    
}

@media(max-width: 368px){
    #contenido{
        grid-template-columns: repeat(auto-fit, minmax(max-content, 6rem));
        margin: 5rem 4rem;
        gap: 1rem;
    }
    .articulo__foto{
        width: 8rem;
        height: 14.5rem;
    } 
    
}